src/flows/Compare_Contacts_vs_Emps-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Find_Number_of_Contacts</name>
        <label>Find Number of Contacts</label>
        <locationX>100</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>numOfContacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ContactList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_numOfContacts_and_numOfEmps_Equal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_numOfContacts_and_numOfEmps_Equal</name>
        <label>Are numOfContacts and numOfEmps Equal?</label>
        <locationX>98</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Not_Equal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>EqualOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numOfEmployees</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>numOfContacts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equal</targetReference>
            </connector>
            <label>EqualOutcome</label>
        </rules>
    </decisions>
    <interviewLabel>Compare Contacts vs Emps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compare Contacts vs Emps</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_Contacts</name>
        <label>Find Contacts</label>
        <locationX>105</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Number_of_Contacts</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactList</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Title</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Number_of_Emps</name>
        <label>Find Number of Emps</label>
        <locationX>106</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Contacts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>numOfEmployees</assignToReference>
            <field>NumberOfEmployees</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Equal</name>
        <label>Equal</label>
        <locationX>80</locationX>
        <locationY>546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Equal_Message</name>
            <fieldText>There are the same number of Contacts and Employees.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Equal</name>
        <label>Not Equal</label>
        <locationX>273</locationX>
        <locationY>540</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Not_Equal_Message</name>
            <fieldText>The number of Contacts and Employees are different</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Find_Number_of_Emps</startElementReference>
    <variables>
        <name>ContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>numOfContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>numOfEmployees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
